@import "tailwindcss";
@import "tw-animate-css";

/* fonts */
@import "../assets/fonts/neue-haas-grotesk-display-pro/index.css";

@import "./variables.css";
@import "./theme.css";

@layer base {
  /* Remove default focus states */
  *:focus,
  *:focus-visible {
    /* biome-ignore lint: needed to override library styles */
    outline: none !important;
    /* biome-ignore lint: needed to override library styles */
    box-shadow: none !important;
    /* biome-ignore lint: needed to override library styles */
    border-color: inherit !important;
  }

  body {
    @apply font-medium text-primary-t;
    font-family: "Neue Haas Display", sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--background);
    margin: 0;
  }

  /* Fix for RainbowKit modal not being clickable in drawer */
  [aria-labelledby="rk_connect_title"] {
    @apply pointer-events-auto;
  }

  /* Override RainbowKit font to match app */
  [data-rk] {
    /* biome-ignore lint: needed to override library styles */
    font-family: "Neue Haas Display", sans-serif !important;
  }

  /* Hide elements depending on the current theme */
  .dark [data-hide-on-theme="dark"],
  .light [data-hide-on-theme="light"] {
    display: none;
  }

  /* Hide number input spinners */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    @apply appearance-none;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  /* Pointer cursor for interactive elements */
  button:not([disabled]),
  [role="button"]:not([disabled]) {
    cursor: pointer;
  }
}
