@custom-variant dark (&:is(.dark *));

:root {
  /*shadcn*/
  --font-faculty: 'Faculty Glyphic', sans-serif;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  /*custom base*/
  --brand-sand-1000: oklch(0.8676 0.1047 79.71);
  --brand-sand-900: oklch(0.8887 0.0468 82.02);
  --brand-sand-800: oklch(0.9475 0.0131 82.4);
  --white: oklch(1 0 0);
  --black: oklch(0 0 0);
  --slate: oklch(0.2069 0.0224 272.51);
  --greyscale-1000: oklch(0.2989 0.0165 275.47);
  --greyscale-900: oklch(0.3423 0.0159 275.61);
  --greyscale-800: oklch(0.4081 0.0202 277.98);
  --greyscale-700: oklch(0.4384 0.0231 278.98);
  --greyscale-400: oklch(0.8545 0 0);
  --greyscale-300: oklch(0.8914 0 0);
  --greyscale-200: oklch(0.9551 0 0);
  --greyscale-100: oklch(0.9851 0 0);
  --greyscale-coal: oklch(0.2842 0.0183 280.66);
  --green: oklch(69.043% 0.12334 156.209);
  --yellow: oklch(0.7534 0.157182 77.7502);
  --red: oklch(0.6272 0.1723 24.27);
  --blue: oklch(0.5956 0.151 276.49);
  --purple: oklch(0.6281 0.167 306.1);
  --orange: oklch(0.6800 0.155 52.5);

  /*custom variables*/
  --text-primary: var(--slate);
  --text-secondary: --alpha(var(--slate) / 0.6);
  --text-tertiary: --alpha(var(--slate) / 0.4);
  --text-disabled: --alpha(var(--slate) / 0.2);
  --text-inverted-primary: var(--white);

  --surface-a3: --alpha(var(--slate) / 0.03);
  --surface-a5: --alpha(var(--slate) / 0.05);
  --surface-a10: --alpha(var(--slate) / 0.1);
  --surface-a20: --alpha(var(--slate) / 0.2);
  --surface-bg-l1: var(--brand-sand-800);
  --surface-bg-l2: --alpha(var(--white) / 0.8);
  --surface-bg-overlay: --alpha(var(--slate) / 0.4);
  --surface-tooltip: var(--white);
  --surface-button-primary: var(--greyscale-coal);
  --surface-button-primary-hover: var(--greyscale-900);
  --surface-button-secondary: var(--surface-a10);
  --surface-button-secondary-hover: var(--surface-a20);
  --surface-elastic-tab: var(--white);
  --surface-toast: var(--white);

  --border-a3: --alpha(var(--slate) / 0.03);
  --border-a5: --alpha(var(--slate) / 0.05);
  --border-a10: --alpha(var(--slate) / 0.1);
  --border-a20: --alpha(var(--slate) / 0.2);

  --e-btn-primary-is-top: --alpha(var(--white) / 0.2);
  --e-btn-primary-is-bottom: --alpha(var(--black) / 0.4);
  --e-btn-secondary-is-top: var(--white);
  --e-btn-secondary-is-bottom: --alpha(var(--slate) / 0.1);
  --e-surface-l2-drop-shadow: --alpha(var(--slate) / 0.1);
  --e-surface-l2-liner-shadow:  var(--white);

}

.dark {
  /*shadcn*/
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);

  /*custom variables*/
  --text-primary: var(--white);
  --text-secondary: --alpha(var(--white) / 0.6);
  --text-tertiary: --alpha(var(--white) / 0.4);
  --text-disabled: --alpha(var(--white) / 0.2);
  --text-inverted-primary: var(--slate);

  --surface-a3:  --alpha(var(--white) / 0.03);
  --surface-a5:  --alpha(var(--white) / 0.05);
  --surface-a10: --alpha(var(--white) / 0.1);
  --surface-a20: --alpha(var(--white) / 0.2);
  --surface-bg-l1: var(--slate);
  --surface-bg-l2: --alpha(var(--white) / 0.1);
  --surface-bg-overlay:  --alpha(var(--slate) / 0.4);
  --surface-tooltip: var(--greyscale-800);
  --surface-button-primary: var(--greyscale-200);
  --surface-button-primary-hover: var(--greyscale-300);
  --surface-button-secondary: --alpha(var(--white) / 0.1);
  --surface-button-secondary-hover: --alpha(var(--white) / 0.2);
  --surface-elastic-tab: var(--greyscale-800);
  --surface-toast: var(--greyscale-800);

  --border-a3: --alpha(var(--white) / 0.03);
  --border-a5: --alpha(var(--white) / 0.05);
  --border-a10: --alpha(var(--white) / 0.1);
  --border-a20: --alpha(var(--white) / 0.2);

  --e-btn-primary-is-top: var(--white);
  --e-btn-primary-is-bottom: --alpha(var(--slate) / 0.2);
  --e-btn-secondary-is-top: --alpha(var(--white) / 0.05);
  --e-btn-secondary-is-bottom: --alpha(var(--slate) / 0.2);
  --e-surface-l2-drop-shadow: --alpha(var(--white) / 0.2);
  --e-surface-l2-liner-shadow: --alpha(var(--white) / 0.05);
}
